.top-bar-title {
    font-size: 1.375rem;
    color: #ffffff;
}

.admin-menu a {
    color: #ffffff;
}

.mini-img {
    height: 6.25rem;
    width: 6.25rem;
}

.spacer {
    padding-top: 1.25rem;
    border-top: solid 1px #000000;
}